vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|19 Oct 2007 03:39:55 -0000
vti_extenderversion:SR|5.0.2.6417
vti_backlinkinfo:VX|about.html
vti_author:SR|SAMARA\\Eugene Tseytlin
vti_modifiedby:SR|SAMARA\\Eugene Tseytlin
vti_timecreated:TR|18 Oct 2007 14:34:52 -0000
vti_lineageid:SR|{A6ADEB5F-F519-4C91-85E2-894C2619854A}
vti_nexttolasttimemodified:TW|19 Oct 2007 03:37:10 -0000
vti_cacheddtm:TX|19 Oct 2007 03:39:55 -0000
vti_filesize:IR|4025
vti_cachedlinkinfo:VX|S|../images/title-background.png S|../images/topborder.gif S|../images/pagerightborder.gif S|../images/pageleftborder.gif S|../images/pageback.gif
vti_cachedsvcrellinks:VX|FSUS|images/title-background.png NSUS|images/topborder.gif NSUS|images/pagerightborder.gif NSUS|images/pageleftborder.gif FSUS|images/pageback.gif
